.tns-inner {
  width: 100% !important;
  margin-right: -10px !important;
  margin-left: 0 !important;
}
.tns-nav > [aria-controls] {
  width: 9px;
  height: 9px;
  padding: 2px;
  margin: 5px;
  border-radius: 50%;
  background: #ddd;
  border: 1px solid #000;
}
.tns-nav {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 90%;
}

.tns-nav > [aria-selected="true"] {
  background: #999;
}

#tns1 > .tns-item {
  padding: 0 !important;
  margin: 0 !important;
}
